@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

//Colors
$primary-color: #2e343b;
$secondary-color: #03031c;
$tertiary-color: #ffd700;
$accent-color: #ef4dcf;
$text-color: #eaeff5;
