@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

//Colors
$primary-color: #4d3227;
$secondary-color: #e7903c;
$tertiary-color: #fffacd;
$accent-color: #8bb82d;
$text-color: #050709;
