@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

//Colors
$primary-color: #e9e0cf;
$secondary-color: #f8f3ea;
$tertiary-color: #463205;
$accent-color: #463205;
$text-color: #463205;
