@import "./variables";

* {
  box-sizing: border-box;
}
body {
  width: 70%;
  margin: auto;
  background-color: $primary-color;
  color: $text-color;
}

img {
  width: 150px;
  display: block;
  margin: auto;
}

.navbar-brand img {
  width: 200px;
}

#login-link {
  color: $tertiary-color;
}

#register-link,
.btn {
  color: $text-color;
  border: solid 1px;
  border-radius: 0;
}

.login,
.register,
.editAvatar {
  width: 50%;
  margin: auto;
}

.logout:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: $text-color;
}

section,
.login,
.register,
footer {
  background-color: $secondary-color;
}

.brand img {
  width: 300px;
}

h1,
h2,
h3 {
  font-family: lato, sans-serif;

  font-weight: 400;

  font-style: normal;

  color: $tertiary-color;
}

p,
#login-link,
#register-link {
  font-family: open-sans, sans-serif;

  font-weight: 400;

  font-style: normal;
}

.listing {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 320px;
  font-size: 25px;
  border: solid 1px $text-color;
  padding: 10px;
}

.listings {
  margin: 30px;
}
.single {
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.small {
  font-size: 15px;
}

.profile {
  display: flex;
  justify-content: center;
}

.profileDetails {
  flex-basis: 300px;
  margin-left: 20px;
}

.profileListings {
  margin-top: 20px;
}
